* {
  margin: 0;
  outline: none !important;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
body {
  background: url('../img/bg.jpg') top center no-repeat fixed;
  background-size: cover;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: normal;
  position: relative;
}
@media only screen and (max-width: 320px) {
  body {
    padding-top: 0;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  body {
    padding-top: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  body {
    padding-top: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  body {
    padding-top: 0;
  }
}
@media only screen and (min-width: 993px) {
  body {
    padding-top: 0;
  }
}
h1,
h2,
h3,
h4 {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
}
h1.zero,
h2.zero,
h3.zero,
h4.zero {
  margin: 0;
}
h1.short,
h2.short,
h3.short,
h4.short {
  margin: 0 0 8px;
}
h1.long,
h2.long,
h3.long,
h4.long {
  margin: 0 0 30px;
}
h1 {
  font-size: 54px;
  font-weight: 300;
  margin: 0 0 10px;
  color: #ffffff;
}
h1.double {
  margin: 0 0 30px;
}
@media (max-width: 640px) {
  h1 {
    font-size: 32px;
  }
}
h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 20px;
  color: #ffffff;
}
h2.double {
  margin: 0 0 50px;
}
h3 {
  font-size: 18px;
}
p {
  font-size: 13px;
}
@media (max-width: 640px) {
  h2 {
    font-size: 24px;
  }
}
h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 10px;
  color: #ffffff;
}
h3.double {
  margin: 0 0 40px;
}
@media (max-width: 640px) {
  h3 {
    font-size: 24px;
  }
}
h4 {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 16px;
}
ol {
  margin: 0 0 20px 18px;
}
ul {
  margin: 0 0 20px 16px;
}
ol li,
ul li {
  margin: 0 0 10px;
}
ol.double,
ul.double {
  margin-bottom: 40px;
}
ol.triple,
ul.triple {
  margin-bottom: 60px;
}
ol.compact li,
ul.compact li {
  margin: 0;
}
input,
select,
textarea,
button {
  color: #333333;
  font-size: 14px;
}
a {
  color: #006699;
  font-weight: 400;
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}
p {
  line-height: 28px;
  margin: 0 0 20px;
}
p.intro {
  font-size: 20px;
}
p.double {
  margin: 0 0 40px;
}
p.triple {
  margin: 0 0 60px;
}
p.disclaimer {
  font-size: 14px;
  line-height: normal;
}
p.disclaimer span {
  font-style: italic;
}
p.last {
  margin: 0;
}
p.margin_top {
  margin-top: 20px;
}
img {
  border: none;
}
img.full_width {
  width: 100%;
}
img.max_width {
  max-width: 100%;
}
img.third_width_right {
  float: right;
  padding: 0 0 10px 10px;
  width: 33%;
}
b,
strong {
  font-weight: 600;
}
button {
  cursor: pointer;
}
fieldset {
  border: 0;
}
label {
  font-weight: 400;
}
span.required {
  color: #F3161E;
}
.radio,
.checkbox {
  display: inline-block;
  vertical-align: middle;
}
textarea {
  resize: none;
}
.pipe {
  padding: 0 10px;
}
i.fa-left {
  margin: 0 6px 0 0;
}
i.fa-right {
  margin: 0 0 0 6px;
}
.lower {
  text-transform: none;
}
.upper {
  text-transform: uppercase;
}
.border_grey {
  border: 1px solid #e4e4e6;
  display: block;
}
.no_padding {
  padding: 0;
}
@media (max-width: 768px) {
  input {
    font-size: 16px !important;
  }
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0;
}
pre {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}
.body-container {
  padding: 0;
  margin: 0;
  width: 100%;
}
/* **************************************************************** */
/* Left Rail
/* **************************************************************** */
@media only screen and (max-width: 320px) {
  .left_rail {
    display: none;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .left_rail {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .left_rail {
    display: none;
  }
}
.left_rail {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 100%;
  padding: 10% 2% 0;
  position: fixed;
  text-align: center;
  width: 20%;
  z-index: 1000;
}
.left_rail a {
  color: #ffffff;
}
.left_rail .logo {
  margin: 0 0 40%;
}
.left_rail .logo a {
  background: url('../img/logo.png') top center no-repeat;
  background-size: 100px 100px;
  border-bottom: 1px solid #acacac;
  color: #e4e4e6;
  display: block;
  font-size: 22px;
  font-weight: 300;
  padding: 120px 0 20%;
  text-transform: uppercase;
}
.left_rail .logo a span {
  display: block;
  font-size: 16px;
  letter-spacing: .2em;
}
.left_rail ul {
  list-style: none;
  margin: 0 0 20px;
  margin: 0 0 40%;
}
.left_rail ul li a {
  color: #e4e4e6;
}
.left_rail .copyright {
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 0 80px;
  font-size: 14px;
}
.left_rail .copyright .social {
  border-top: 1px solid #acacac;
  margin: 0;
  padding: 10px 0 0 0;
}
.left_rail .copyright .social a {
  color: #ffffff;
  padding-left: 6px;
}
/* **************************************************************** */
/* Main
/* **************************************************************** */
.main {
  color: #333333;
  font-size: 20px;
}
.main section {
  padding: 0 0 0 20%;
}
.main section.white {
  background: #ffffff;
}
.main section.home {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  margin: 0 0 0 20%;
  padding: 0;
}
.main section.home .quote {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.main section.home .quote span {
  display: block;
}
.main section.home .quote .script {
  color: #B49F8E;
  font-family: 'Dancing Script', sans-serif;
  font-size: 60px;
  padding: 10px 0;
  text-align: right;
}
.main section.home .quote .author {
  font-style: normal;
  text-align: right;
}
@media only screen and (max-width: 320px) {
  .main section.home {
    margin: 0;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .main section.home {
    margin: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main section.home {
    margin: 0;
  }
}
.main section.services ._inner {
  background: #666666;
  margin: 10%;
  padding: 3%;
  font-size: 15px;
}
.main section.services ._inner p {
  margin: 0 auto 20px;
  color: #ffffff;
  line-height: normal;
  text-align: left;
}
.main section.about ._inner {
  background: #666666;
  margin: 10%;
  padding: 3%;
  font-size: 15px;
}
.main section.about ._inner p {
  margin: 0 auto 20px;
  color: #ffffff;
  line-height: normal;
  text-align: left;
}
.main section.about ._inner .media-object.profile-img {
  height: 25%;
  margin-left: 5%;
}
.main section.projects ._inner {
  background: #666666;
  margin: 10%;
  padding: 3%;
  font-size: 15px;
}
.main section.projects ._inner p {
  margin: 0 auto 2%;
  color: #ffffff;
  line-height: normal;
  text-align: left;
}
.main section.portfolio {
  /** modal **/
}
.main section.portfolio .portfolio_outer {
  position: relative;
}
.main section.portfolio .portfolio_outer ._nav {
  color: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
}
.main section.portfolio .portfolio_outer ._nav span {
  display: inline-block;
  padding: 0 10px;
}
.main section.portfolio .portfolio_outer ._nav a {
  color: #acacac;
}
.main section.portfolio .portfolio_outer .portfolio_item {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.main section.portfolio .container {
  margin: 0;
  padding: 5%;
  width: 100%;
}
.main section.portfolio .modal {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .main section.portfolio .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.main section.portfolio .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 90%;
  margin-top: 5px;
}
@media only screen and (max-width: 320px) {
  .main section.portfolio .modal-dialog {
    margin-top: 25vh;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .main section.portfolio .modal-dialog {
    margin-top: 25vh;
  }
}
.main section.portfolio .modal-content {
  border-radius: 0;
  border: 0;
}
.main section.portfolio .modal-body {
  padding: 0;
}
.main section.portfolio .modal-body #modal-carousel {
  padding: 0;
}
.main section.portfolio .modal-body #modal-carousel .thumbnail {
  height: auto;
  width: auto;
  padding: 0;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}
.main section.portfolio .gallery {
  background: #666666;
  opacity: .95;
  width: 80%;
  margin: 10%;
  padding: 2%;
}
.main section.portfolio .gallery .thumbnail {
  padding: 0px;
  border-radius: 0;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main section.contact .form_outer {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  width: 80%;
  max-width: 900px;
  padding: 50px;
  margin: 10% auto;
  background: #666666;
  color: #ffffff;
}
.main section.contact .form_outer ._info {
  font-style: italic;
  float: left;
  width: 40%;
  padding-right: 8%;
  text-align: right;
}
.main section.contact .form_outer ._info p {
  line-height: 21px;
}
.main section.contact .form_outer ._info p > a {
  color: inherit;
  text-decoration: underline;
  font-weight: 300;
}
.main section.contact .form_outer ._form {
  float: right;
  width: 60%;
  text-align: left;
}
.main section.contact .form_outer ._form ._row {
  margin: 0 0 20px;
}
.main section.contact .form_outer ._form ._row:last-child {
  margin: 0;
}
.main section ._inner {
  padding: 20px 0 0;
  text-align: center;
}
@media only screen and (max-width: 320px) {
  .main.home {
    margin: 0;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .main.home {
    margin: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main.home {
    margin: 0;
  }
}
@media only screen and (max-width: 320px) {
  .main section {
    padding: 0;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .main section {
    padding: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main section {
    padding: 0;
  }
}
/* **************************************************************** */
/* Footer
/* **************************************************************** */
/*.footer {
	font-size:13px;
	position:fixed;
	bottom:0;
	left:0;
	background:@black;
	color:@darkest_grey;
	text-align:right;
	height:60px;
	line-height:60px;
	width:100%;
	padding:0 20px 0 0;
	z-index:1000;
}*/
/* **************************************************************** */
/* Bootstrap Overrides
/* **************************************************************** */
/** Form **/
.form-control {
  border-radius: 0;
}
.btn-default {
  border-radius: 0;
  width: 120px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.modal-backdrop {
  background-color: black;
  opacity: 1;
}
/* **************************************************************** */
/* Footer
/* **************************************************************** */
.footer {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}
.footer .social {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.footer .social a {
  color: #ffffff;
  padding-left: 6px;
}
@media only screen and (max-width: 320px) {
  nav {
    visibility: visible;
  }
  .footer {
    visibility: visible;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  nav {
    visibility: visible;
  }
  .footer {
    visibility: visible;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  nav {
    visibility: visible;
  }
  .footer {
    visibility: visible;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  nav {
    display: none;
  }
  .footer {
    display: none;
  }
}
@media only screen and (min-width: 993px) {
  nav {
    display: none;
  }
  .footer {
    display: none;
  }
}
.navbar-default {
  border-color: rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: medium;
}
.navbar-default .navbar-header .navbar-brand {
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 21px;
  font-weight: 300;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
  color: #777;
  text-decoration: none;
}
.navbar-default .navbar-nav > li > a:visited {
  color: #ffffff;
}
