

@media @mobile {
  nav {
    visibility: visible;
  }
  .footer {
    visibility: visible;
  }
}
@media @x-small {
  nav {
    visibility: visible;
  }
  .footer {
    visibility: visible;
  }
}
@media @tablet {
  nav {
    visibility: visible;
  }
  .footer {
    visibility: visible;
  }
}
@media @desktop {
  nav {
    display: none;
  }
  .footer {
    display: none;
  }
}
@media @desktop-xl {
  nav {
    display: none;
  }
  .footer {
    display: none;
  }
}


//Nav Bar styles
.navbar-default {
    border-color: rgba(0, 0, 0, 0.6);
    background:rgba(0, 0, 0, 0.6);
    color: @white;
    font-family:@josefin;
    font-size: medium;
    //font-size:20px;
    //font-weight:300;

    .navbar-header {
      .navbar-brand {
        color: @white;
        font-family:@josefin;
        font-size: 21px;
        font-weight:300;
        padding: 18px 15px;
      }
      .icon {
        height: 22px;
        padding-right: 10px;
        margin-top: -7px;
      }
    }

    .navbar-nav > li > a {
      color: @white;

      &:hover, &:active, &:focus {
        color: #777;
        text-decoration: none;
      }
      &:visited {
        color: @white;
      }
    }
}
